@import 'vars.css';
@import 'barchart.css';
@import 'bubblechart.css';

body,
html {
    height: 100%;
    margin: 0;
}

.outlined {
    border: 2px solid #000;
    background-color: #f8f9fa;
}

.sidebar.outlined {
    border-top: none;
}

.outlined-rounded {
    border: 2px solid #000;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.square-box {
    aspect-ratio: 1 / 1;
}

.sidebar {
    min-height: 100%;
}

.button-list {
    overflow-y: auto;
    height: 200px;
    overscroll-behavior: contain;
}

.bubble-tooltip {
    pointer-events: none;
    z-index: 999;
}